In [361]:
import pandas as pd
import datetime
import copy

In [362]:
wave_names = [
'Wave 2',
'Wave 3',
'Wave 4',
'Wave 5',
'Wave 6',
'Wave 7',
'Wave 8',
'Wave 9',
'Wave 10',
'International Backers Wave 1',
'Wave 11',
'Wave 12',
'Internation Backers Wave 2']

tables_per_wave = [
40,
250,
500,
500,
600,
700,
798,
899,
862,
871,
316,
56,
36]

wave_tables = zip(wave_names, tables_per_wave)

In [363]:
def production_schedule(weekly_production, weekly_limit, monthly_increase, total_required):
    total_produced = 0
    weekly_schedule = []
    current_production = copy.deepcopy(weekly_production)
    while total_produced < total_required:
        total_produced += 4 * weekly_production
        weekly_schedule.extend(weekly_production for i in range(4))
        if weekly_production < weekly_limit:
            weekly_production += 5
            
    return weekly_schedule

In [364]:
def wave_start_date(tables_per_wave, production_schedule):
    delivery_date = datetime.date.today()
    delivery_week = []
    delivery_wave = []
    schedule_index = 0
    units_next_wave = 0
    for wave_name, num_tables in tables_per_wave:
        tables_remaining = copy.deepcopy(num_tables) + units_next_wave
        while tables_remaining > 0:
            tables_remaining += -production_schedule[schedule_index]
            schedule_index += 1
            delivery_date += datetime.timedelta(days=7)
            delivery_week.append(delivery_date)
            delivery_wave.append(wave_name)
        units_next_wave = copy.deepcopy(tables_remaining)
       
        continue
    
    return list(zip(delivery_wave, delivery_week))

In [365]:
weekly_production = production_schedule(40,100,5,sum(tables_per_wave))
print(weekly_production)

[40, 40, 40, 40, 45, 45, 45, 45, 50, 50, 50, 50, 55, 55, 55, 55, 60, 60, 60, 60, 65, 65, 65, 65, 70, 70, 70, 70, 75, 75, 75, 75, 80, 80, 80, 80, 85, 85, 85, 85, 90, 90, 90, 90, 95, 95, 95, 95, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100]

In [366]:
weekly_production[0]

40

In [367]:
print(f'Total Tables Outstanding: {sum(tables_per_wave)}')
print(f'Weeks to complete fulfillment: {len(weekly_production)}')

Total Tables Outstanding: 6428
Weeks to complete fulfillment: 80

In [368]:
pizza = wave_start_date(wave_tables, weekly_production)

In [370]:
test_df = pd.DataFrame(pizza)
test_df.head(200)

                               0           1
0                         Wave 2  2021-12-24
1                         Wave 3  2021-12-31
2                         Wave 3  2022-01-07
3                         Wave 3  2022-01-14
4                         Wave 3  2022-01-21
..                           ...         ...
75  International Backers Wave 1  2023-06-02
76                       Wave 11  2023-06-09
77                       Wave 11  2023-06-16
78                       Wave 11  2023-06-23
79                       Wave 12  2023-06-30

[80 rows x 2 columns]